section { background: rgba(255,255,255,0.7); margin: 35px auto; padding: 15px; width: 1050px; overflow: hidden; border-radius: 15px; }
article { padding-top: 10px;
	width: 1050px;
}
.art-right{
}
.B_article {
	text-align: center;
	margin: auto;
}
.B_article .title{
    font-size:250%;
}
pre{
	width: 749px;
	white-space: pre-wrap;
    word-wrap: break-word;
	font-size: 100%;
	text-align:left;
	font-family: "黑体";
	margin-left:160px;
	line-height:38px;
}
