.zib-widget {
    clear: both;
    background: var(--main-bg-color);
    padding: 15px;
    box-shadow: 0 0 10px var(--main-shadow);
    border-radius: var(--main-radius);
    margin-bottom: 20px;
}

.author-set-left {
    float:left;
    width: 20%;
    margin-right: 20px;
    text-align: right;
    padding-top: 6px;
    color: var(--muted-3-color);
}
.author-set-right {
    width: calc(70% - 25px);
    overflow: hidden;
}
.mb30{
     margin-bottom: 30px;
 }
.mt10 {
    margin-top: 10px;
}
.form-control {
    border-color: transparent;
    background: var(--body-bg-color);
    color: var(--main-color);
    box-shadow: none;
    transition: border-color ease-in-out .15s,background ease-in-out .15s,box-shadow ease-in-out .15s,opacity ease-in-out .3s;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.form-select {

    position: relative;
}
select.form-control {

    -webkit-appearance: none;
    cursor: url(../img/hand.png),pointer;
}
:root{
    --main-bg-color:#fff;
    --main-shadow: rgba(116, 116, 116, 0.08);
    --main-radius: 8px;
    --muted-3-color: #b1b1b1;
    --body-bg-color: #f5f6f7;
    --main-color: #4e5358;
}
.flex {
    display: flex;
}
.flex.ac, .inflex.ac {
    align-items: center;
}
