<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Myblog" />
	<meta name="Keywords" content="星空博客"/>
	<meta name="Description" content="星空博客,技术分享,记录回忆"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>星空博客-首页</title>

	<link rel="shortcut icon" href="../img/touch-icon-iphone-144.png">
	<link rel="apple-touch-icon" sizes="57x57" href="../img/touch-icon-iphone-144.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="../img/touch-icon-iphone-144.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="../img/touch-icon-iphone-144.png" />
	<link  rel="apple-touch-icon" sizes="144x144" href="../img/touch-icon-iphone-144.png" />

	<link rel="stylesheet" href="../css/iconfont.css">
	<link rel="stylesheet" href="../css/common.css"/>
	<link rel="stylesheet" href="../css/style.css">
	<script type="text/javascript" src="../js/selector.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
</head>
<body ondragstart="return false" oncontextmenu="return false" onselectstart="return false" onselect="document.selection.empty()">
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
	<div class="header-box">
		<p>
			“对星空说出你的心声”
		</p>
		<p>
			“每个人都是一颗闪耀的星”
		</p>
		<!--相册-->
		<div class="box">
			<div class="light"></div>
			<span class="box1">
						<div class="star">
							<div class="srT sr1"></div>
							<div class="srL sr2"></div>
							<div class="srL sr3"></div>
							<div class="srT sr4"></div>
							<div class="spot"></div>
						</div>
					</span>
			<span class="box2">
						<div class="star">
							<div class="srT sr1"></div>
							<div class="srL sr2"></div>
							<div class="srL sr3"></div>
							<div class="srT sr4"></div>
							<div class="spot"></div>
						</div>
					</span>
		</div>
		<div class="album r">
			<img src="../img/h1.jpg" alt="相册"/>
		</div>
		<div class="album r">
			<img src="../img/h2.jpg" alt="相册"/>
		</div>
	</div>
</header>
<nav class="nav">
	<div class="title l">星空博客</div>
	<ul>
		<li class="current"><a href="index.html">首页</a></li>
		<li><a href="/articals">文章</a></li>
		<li><a href="/album">相册</a></li>
		<li><a href="/blogs" >管理</a></li>
		<li><a href="/showcomments">留言板</a></li>
	</ul>
</nav>
<div class="embellish">
	<a class="rocket"></a>
	<div class="aside"></div>
</div>
		<section>
		<div class="banner-box clearfix">

			<div class="banner l">

				<div>
					<a class="a-img-ban img-ban-curr"><img class="img-ban" src="img/1.jpg"></a>
					<a class="a-img-ban"><img class="img-ban" src="img/2.jpg"></a>
					<a class="a-img-ban"><img class="img-ban" src="img/3.jpg"></a>
					<a class="a-img-ban"><img class="img-ban" src="img/4.jpg"></a>
				</div>
				<ul class="r">
					<li class="li-img curr"><img src="img/1.jpg"><div class="mask"></div></li>
					<li class="li-img"><img src="img/2.jpg"><div class="mask"></div></li>
					<li class="li-img"><img src="img/3.jpg"><div class="mask"></div></li>
					<li class="li-img"><img src="img/4.jpg"><div class="mask"></div></li>
				</ul>
			</div>
			<br>
			<br>

			<div class="art r " align="center">
				<img src="./img/star.jpeg" alt="头像" width="100" height="100" style="width:100px; height:100px; border-radius:100%;">
				<h3><a href="#">一颗无名的小星星</a></h3>
				<div >
					<p1>这家伙很懒，什么也没有写...</p1>
				</div>
				<br>
				<div class="mybtn center">
					<a href="/blogs/input"  class="btn  c-fff" style="margin-left: 10px">发布博客</a>
					<a href="/listuserinfo" class="btn  c-fff" style="margin-left: 10px">添加新用户</a>
				</div>
				<br>
			</div>
		</div>

		<article>
			<aside class="left-box r">

				<div class="art Label clearfix">

					<div class="art r">
						<h2 class="art-txt"><em class="iconfont icon-zan "></em> <span>推荐文章</span> </h2>
						<ul class="art-list">
							<li><a href="#" ><em class="iconfont icon-dian "></em><span>移动端开发问题简述</span></a></li>
							<li><a href="#" ><em class="iconfont icon-dian "></em><span>申请接入QQ/微信/微博登录方法</span></a></li>
							<li><a href="#" ><em class="iconfont icon-dian "></em><span>如何临时项目展示(简易内网穿透)</span></a></li>
							<li><a href="#" ><em class="iconfont icon-dian "></em><span>响应式布局与自适应式布局有什么不同？</span></a></li>
							<li><a href="#" ><em class="iconfont icon-dian "></em><span>个人网站虚拟主机的选购</span></a></li>
							<li><a href="#" ><em class="iconfont icon-dian "></em><span>网站域名的解析与绑定</span></a></li>
							<li><a href="#" ><em class="iconfont icon-dian "></em><span>个人域名IPC备案/网站备案注意事项</span></a></li>
						</ul>
					</div>
					<div class="art r">
						<h2 class="art-txt"> <em class="iconfont icon-biaoqian "></em> <span>热门分类</span> </h2>
						<div th:each="type : ${types}">
							<a class="btn label" href="#" th:href="@{/type/{id}(id=${type.id})}" th:text="${type.name}" >微信小程序</a>
						</div>
					</div>

				</div>
				<div>
					<h2 class="art-txt-final"></h2>
				</div>
			</aside>
			<div class="art-left l ">
				<h2 class="art-txt">&nbsp;&nbsp;<em class="iconfont icon-wifi "></em> <span>最新文章</span></h2>
				<div class="art-model-friend" th:each="blog : ${page.content}">
					<h3><a href="#" th:href="@{/blog/{id}(id=${blog.id})}"  th:text="${blog.title}">网站三层架构(结构层-表现层-行为层)</a></h3>
					<p class="dateview">发布时间：<span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}" ></span> 更新时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span></p>
					<dl class="img-txt">
						<dt>
							<img  th:src="@{${blog.firstPicture}}"  src="../img/7.jpg" alt="网站三层架构(结构层-表现层-行为层)" title="网站三层架构(结构层-表现层-行为层)">
						</dt>
						<dd>
							<p class="deatil-friend" th:href="@{/blog/{id}(id=${blog.id})}"  th:text="${blog.description}">　　网站三层架构(结构层-表现层-行为层)如图： 如果把一个网站比做人的话，人的结构层相当于骨架、血液、肌肉。人的表现层相当于外貌、化妆、衣服。人的行为层就相当于听课、运动、说话。 结构层 1、html(Hypertext Markup Language)超文本标记语言 是用于描述网页文档的一种标记语言。</p>
							<p class="type" th:text="${blog.type.name}">分类</p>
							<a href="" th:href="@{/blog/{id}(id=${blog.id})}" class="btn  c-fff" >查看全文</a>
						</dd>
					</dl>
				</div>
			</div>
		</article>
		</section>
		<footer class="clearfix"><p>@星空博客</p></footer>
		<script type="text/javascript" src="js/common.js"></script>
	</body>
</html>
