<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="cuiyuan" />
		<meta name="Keywords" content="cuiyuan的博客"/>
		<meta name="Description" content="cuiyuan的博客,技术分享,记录回忆"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>cuiyuan的博客-CSS/JS特效</title>
		
		<link rel="shortcut icon" href="../img/touch-icon-iphone-144.png">
		<link rel="apple-touch-icon" sizes="57x57" href="../img/touch-icon-iphone-144.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="../img/touch-icon-iphone-144.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="../img/touch-icon-iphone-144.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="../img/touch-icon-iphone-144.png" />
		
		<link rel="stylesheet" href="../css/icon-study.css"/>
		<link rel="stylesheet" href="../css/common.css"/>
		<link rel="stylesheet" href="../css/css-js.css"/>
		<script type="text/javascript" src="../js/selector.js"></script>
		<script type="text/javascript" src="../js/css-js.js"></script>
		
	</head>
	<body ondragstart="return false" oncontextmenu="return false" onselect="document.selection.empty()">
		<!--[if lte IE 8]>
		<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，请 <a href="https://support.dmeng.net/upgrade-your-browser.html" target="_blank">升级浏览器</a> 以获得更好的体验！</p>
		<![endif]-->
		<header>
			<div class="header-box">
				<p>
					“他说风雨中这点痛算什么，擦干泪不要怕，至少我们还有梦!”
					“我相信我就是我，我相信明天，我相信青春没有地平线。”
				</p>
				<div class="box">
					<div class="light"></div>
					<span class="box1">
						<div class="star">
							<div class="srT sr1"></div>
							<div class="srL sr2"></div>
							<div class="srL sr3"></div>
							<div class="srT sr4"></div>
							<div class="spot"></div>
						</div>
					</span>
					<span class="box2">
						<div class="star">
							<div class="srT sr1"></div>
							<div class="srL sr2"></div>
							<div class="srL sr3"></div>
							<div class="srT sr4"></div>
							<div class="spot"></div>
						</div>
					</span>
				</div>
				<div class="album r">
					<img src="../img/h1.jpg" alt="相册"/>
				</div>
				<div class="album r">
					<img src="../img/h2.jpg" alt="相册"/>
				</div>
			</div>
		</header>
		<nav class="nav">
			<div class="title l">记录回忆</div>
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="/articals">文章</a></li>
				<li class="current"><a href="">相册</a></li>
				<li><a href="/blogs">管理</a></li>
				<li><a href="/showcomments">留言板</a></li>
			</ul>
		</nav>
		<div class="embellish">
			<a class="rocket"></a>
		</div>
		<section>
			<article>
				<div class="album">
					<div class="album-left1">
					</div>
					<div class="album-right1">
					</div>
				</div>
				<div class="biaoti">
					年总结
				</div>
				<div class="album">
					<div class="album-left2">
						<div class="album1">
							<div class="title1">
								<strong>我的2022</strong>
							</div>
							<div class="content">
								<a href="/album/pic">
								<img src="../img/2.jpg" alt="">
								</a>
								<p>在HTML中可以通过table标签用于定义html表格,接下来在文章中将为大家具体介绍table标签,具有由tabl</p>
							</div>
						</div>
					</div>
					<div class="album-right2">
						<div class="time1">
							2022.7.4
						</div>
					</div>
				</div>
				<div class="biaoti">
					记录生活
				</div>
				<div class="album">
					<div class="album-left2">
						<div class="time2">
							2022.7.3
						</div>
					</div>
					<div class="album-right2">
						<div class="album2">
							<div class="title1">
								<strong>记录我的工地生活</strong>
							</div>
							<div class="content">
								<a href="/album/pic">
								<img src="../img/1.jpg" alt="">
								</a>
								<p>个元素每个都独自占用了一行，通过上面的例子我相信你已中display属性是什么及(注：欢迎转载，转载请注明来源于“村姑网-www.cu</p>
							</div>
						</div>
					</div>
				</div>
				<div class="album">
					<div class="album-left3">
					</div>
					<div class="album-right3">
					</div>
				</div>
			</article>
		</section>
		<footer class="clearfix"><p>@cuiyuan的个人博客</p></footer>
	</body>
</html>